{% extends "includes/base_user.html" %} {% load i18n %} {% load static %} {% block document_container %}
<style>
    .card {
        background-color: rgba(16, 16, 22, 0.767);
    }
</style>
<div class="container my-5">
    <div class="row ">
        <div class="col-md-6 mx-auto">
            <!-- Material form login -->
            <div class="card">
                <!--Card content-->
                <div class="card-body text-canter">
                    <div class="text-center">
                        <i class="fas fa-key white-text fa-4x"></i>
                        <h4 class="white-text">{% trans "Change new password" %} </h4>
                        <h5 class="white-text">Enter your new password</h5>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="md-form form-lg">
                            {{ form.password0 }}
                            <label>Old password</label>
                        </div>
                        <div class="md-form form-lg">
                            {{ form.password1 }}
                            <label>New password</label>
                        </div>
                        <div class="md-form form-lg">
                            {{ form.password2 }}
                            <label>Confirm new password</label>
                        </div>
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <div class="ui red message">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                        <div class="d-flex">
                            <div>
                                <button class="btn btn-primary submit " name="cpBtn" type="submit">{% trans "Submit" %}
                                </button>
                            </div>
                            <div>
                                <a href="{% url 'Frontend:index'%}">
                                    <div class="btn btn-default">{% trans "Cancel" %} </div>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock document_container %}