{% extends "includes/base_admin.html" %}


{% block content %}


<!--  Traffic  -->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="box-title">create container {{entry_list}}</h4>
      </div>
      <div class="row">
          <div class="col">
                <form action="/create_institute/" method="POST" id="post-form">
                    {% csrf_token %}
                    <input type="text" id="post-text" value="ffff">
                    <button class="btn btn-primary" type="submit">Submit</button>
                
                </form>
          </div>
      </div>


    </div>
  </div> <!-- /.row -->

</div>
</div><!-- /# column -->

<!--  /Traffic -->


{% endblock content %}


{% block script %}
<script>
    
// Submit post on submit
$('#post-form').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!")  // sanity check
    create_institute();
});

// AJAX for posting
function create_institute() {
    console.log("create post is working!") // sanity check
    console.log($('#post-text').val())
    $.ajax({
        url : "/SmsBackEnd/create_institute/", // the endpoint
        type : "POST", // http method
        data : { the_post : $('#post-text').val() }, // data sent with the post request

        // handle a successful response
        success : function(json) {
            $('#post-text').val(''); // remove the value from the input
            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};
</script>
{% endblock script %}