{% extends "includes/base_home.html" %} {% block banner %} {% endblock banner %}
{% block document_container %}
{% load static  %}

<!--Main layout-->
<main>

  <div class="container my-5">


    <!--Section: Content-->
    <section class="magazine-section dark-grey-text">

      <!-- Section heading -->
      <h3 class="text-center font-weight-bold mb-4 pb-2">Magazine newsfeed</h3>
      <!-- Section description -->
      <p class="text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla sint occaecat cupidatat non proident, sunt culpa
        qui officia deserunt est laborum.</p>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-6 col-md-12 mb-4">

          <!-- Featured news -->
          <div class="single-news">

            <!-- Image -->
            <div class="view overlay rounded z-depth-1-half mb-4">
              <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/1.jpg" alt="Sample image">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Data -->
            <div class="news-data d-flex justify-content-between">
              <a href="#!" class="deep-orange-text">
                <h6 class="font-weight-bold"><i class="fas fa-utensils pr-2"></i>Culinary</h6>
              </a>
              <p class="font-weight-bold dark-grey-text"><i class="fas fa-clock-o pr-2"></i>27/02/2018</p>
            </div>

            <!-- Excerpt -->
            <h3 class="font-weight-bold dark-grey-text mb-3"><a>Title of the news</a></h3>
            <p class="dark-grey-text">Sed ut perspiciatis unde voluptatem omnis iste natus
              error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
              inventore veritatis et quasi architecto beatae vitae explicabo. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>

          </div>
          <!-- Featured news -->

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-6 col-md-12 mb-4">

          <!-- Small news -->
          <div class="single-news mb-4">

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-3">

                <!--Image-->
                <div class="view overlay rounded z-depth-1 mb-4">
                  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg"
                    alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-9">

                <!-- Excerpt -->
                <p class="font-weight-bold dark-grey-text">26/02/2018</p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-3">
                    <a href="#!" class="dark-grey-text">At vero eos et accusamus et iusto odio dignissimos
                      ducimus qui blanditiis</a>
                  </div>
                  <a><i class="fas fa-angle-double-right"></i></a>
                </div>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
          <!-- Small news -->

          <!-- Small news -->
          <div class="single-news mb-4">

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-3">

                <!--Image-->
                <div class="view overlay rounded z-depth-1 mb-4">
                  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                    alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-9">

                <!-- Excerpt -->
                <p class="font-weight-bold dark-grey-text">25/02/2018</p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-3">
                    <a href="#!" class="dark-grey-text">Itaque earum rerum hic tenetur a sapiente delectus</a>
                  </div>
                  <a><i class="fas fa-angle-double-right"></i></a>
                </div>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
          <!-- Small news -->

          <!-- Small news -->
          <div class="single-news mb-4">

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-3">

                <!--Image-->
                <div class="view overlay rounded z-depth-1 mb-4">
                  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/87.jpg"
                    alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-9">

                <!-- Excerpt -->
                <p class="font-weight-bold dark-grey-text">24/02/2018</p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-3">
                    <a href="#!" class="dark-grey-text">Soluta nobis est eligendi optio cumque nihil impedit quo
                      minus</a>
                  </div>
                  <a><i class="fas fa-angle-double-right"></i></a>
                </div>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
          <!-- Small news -->

          <!-- Small news -->
          <div class="single-news">

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-3">

                <!--Image-->
                <div class="view overlay rounded z-depth-1 mb-md-0 mb-4">
                  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg"
                    alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-9">

                <!-- Excerpt -->
                <p class="font-weight-bold dark-grey-text">23/02/2018</p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-lg-3">
                    <a href="#!" class="dark-grey-text">Duis aute irure dolor in reprehenderit in voluptate</a>
                  </div>
                  <a><i class="fas fa-angle-double-right"></i></a>
                </div>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
          <!-- Small news -->

        </div>
        <!--Grid column-->

      </div>
      <!-- Grid row -->

    </section>
    <!--Section: Content-->


  </div>
  <div class="container">


    <!--Section: Main features & Quick Start-->
    <section>
      <h3 class="h3 text-center mb-5">About SmsBaseApp</h3>

      <!--Grid row-->
      <div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 px-4">
          <!--First row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="far fa-hdd fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">การเก็บรักษา</h5>
              <p class="grey-text">
                เก็บรักษาทรัพยากรชีวภาพครอบคลุมสิ่งมีชีวิต ยีนของสิ่งมีชีวิต
                และข้อมูลสิ่งมีชีวิตที่มีการควบคุม
                โดยใช้เทคโนโลยีในการประหยัดพื้นที่และแรงงานในการดูแลเก็บรักษา
              </p>
            </div>
          </div>
          <!--/First row-->

          <!--Second row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-hand-holding-usd fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">การใช้ประโยชน์</h5>
              <p class="grey-text">
                เก็บข้อมูลทางพันธุกรรมคนไทยที่เป็นประโยชน์ด้านสุขภาพ เศรษฐกิจ
                และสังคมในรูปแบบ Digital Biobank
                เพื่อเพิ่มขีดความสามารถในการพัฒนาเศรษฐกิจชีวภาพของประเทศ
              </p>
            </div>
          </div>
          <!--/Second row-->

          <!--Second row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="far fa-grin fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">อำนวยความสะดวก</h5>
              <p class="grey-text">
                อำนวยความสะดวกในการเข้าถึง ที่มีประสิทธิภาพ สะดวก และรวดเร็ว
                โดยมีระบบรับฝาก
                เพื่อการวิจัยพัฒนาและการใช้ประโยชน์ทำได้ง่ายและได้ครบทั้งวัสดุชีวภาพและข้อมูลจากแหล่งเดียว
              </p>
            </div>
          </div>
          <!--/Second row-->

          <!--Second row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-unlock-alt fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">ปกป้องข้อมูล</h5>
              <p class="grey-text">
                ปกป้องทรัพยากรชีวภาพจากผลกระทบทางสิ่งแวดล้อม
                และปกป้องทรัพยากรชีวภาพจากประเทศอื่นที่จะนำทรัพยากรชีวภาพของไทยไปใช้โดยไทยไม่ได้ผลประโยชน์ใดๆ
              </p>
            </div>
          </div>
          <!--/Second row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-12">
          <p class="h5 text-center mb-4">
            Watch Brooks sample management storage
          </p>
          <div class="embed-responsive embed-responsive-16by9 z-depth-2">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/M6yfBNIdsqY?start=83" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
        <!--/Grid column-->
      </div>
      <!--/Grid row-->
    </section>
    <!--Section: Main features & Quick Start-->

    <hr class="my-5" />

    <!--Section: More-->
    <section>
      <h2 class="my-5 h3 text-center" Our>Services</h2>

      <!--First row-->
      <div class="row features-small mt-5 wow fadeIn">
        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="fas fa-file-upload fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2 pl-3">
              <h5 class="feature-title font-bold mb-1">Submission</h5>
              <p class="grey-text mt-2">
                CNGBdb accepts biological data such as projects, samples,
                experiments, nucleic acid sequences, sequence variations,
                annotated sequences, and other supporting data through the
                corresponding portal.
              </p>
            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="far fa-arrow-alt-circle-down fa-2x indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">Download</h5>
              <p class="grey-text mt-2">
                Public data of CNGBdb are available for downloading. You can
                download custom datasets directly on the CNGBdb FTP site or by
                using common download tools such as FileZilla.
              </p>
            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="fas fa-tasks fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">Analysis</h5>
              <p class="grey-text mt-2">
                Based on the underlying data, CNGBdb builds a distributed
                high-performance computing platform, and deploys application
                services such as BLAST, Cancer Data Analysis, Pathogen
                Identification.
              </p>
            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="fas fa-eye fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">Visualization</h5>
              <p class="grey-text mt-2">
                Visualization is designed to visualize the biological data of
                CNGBdb using multiple visualization techniques, including the
                visualization of genomes, transcriptome, proteome and so on.
              </p>
            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->
      </div>
      <!--/First row-->

      <!--Second row-->
      <div class="row features-small mt-4 wow fadeIn">
        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="fas fa-hdd fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">SciRAID</h5>
              <p class="grey-text mt-2">
                Scientific Research Application Databases contains various topic
                databases such as cancer, population polymorphism, biodiversity,
                microorganisms to meet the needs of researchers in different
                areas and enhance the data value.
              </p>
            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="fas fa-terminal fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">Data Access</h5>
              <p class="grey-text mt-2">
                Data Access provides users with the services of approval,
                authorization, and distribution of controlled data. Whether data
                is authorized for access is determined by the data
                owner/organization.
              </p>
            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6"></div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6"></div>
        <!--/Grid column-->
      </div>
      <!--/Second row-->
    </section>
    <!--Section: More-->
  </div>
</main>
<!--Main layout-->
        <!--Section: Logotypes-->
        <section class="mt-4 border-top " style="background-color:#EEEEEE;height:80px;">
          <div class="container" style="height:80px;">
              <!-- Logo carousel -->
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3600"
                  style=" height: 6vh;">
                  <div class="carousel-inner" style="height:80px;padding: 11px;">
                      <!-- First slide -->
                      <div class="carousel-item active">
                          <!--Grid row-->
                          <div class="row">

                              <!--First column-->
                              <div class="col-lg-2 col-md-6 text-center align-items-center justify-content-center">
                                  <img src="{% static 'img/credit/bedo.png'%}" class="img-fluid px-4"
                                      alt="Nike - logo" style="max-height: 60px">
                              </div>
                              <!--/First column-->

                              <!--Second column-->
                              <div class="col-lg-2 col-md-6 text-center align-items-center justify-content-center">
                                  <img src="{% static 'img/credit/bkf.png'%}" class="img-fluid px-4"
                                      alt="Amazon - logo" style="max-height: 60px">
                              </div>
                              <!--/Second column-->

                              <!--Third column-->
                              <div class="col-lg-2 col-md-6 text-center align-items-center justify-content-center">
                                  <img src="{% static 'img/credit/forest.png'%}" class="img-fluid px-4"
                                      alt="Sony - logo" style="max-height: 60px">
                              </div>
                              <!--/Third column-->

                              <!--Fourth column-->
                              <div class="col-lg-2 col-md-6 text-center align-items-center justify-content-center">
                                  <img src="{% static 'img/credit/kku.png'%}" class="img-fluid px-4"
                                      alt="Samsung - logo" style="max-height: 60px">
                              </div>
                              <!--/Fourth column-->
                              <!--Fourth column-->
                              <div class="col-lg-2 col-md-6 text-center align-items-center justify-content-center">
                                  <img src="{% static 'img/credit/lanna.png'%}" class="img-fluid px-4"
                                      alt="Samsung - logo" style="max-height: 60px">
                              </div>
                              <!--/Fourth column-->
                              <!--Fourth column-->
                              <div class="col-lg-2 col-md-6 text-center align-items-center justify-content-center">
                                  <img src="{% static 'img/credit/ricedept.png'%}" class="img-fluid px-4"
                                      alt="Samsung - logo" style="max-height: 60px">
                              </div>
                              <!--/Fourth column-->


                          </div>
                          <!--/Grid row-->
                      </div>
                      <!-- First slide -->


                  </div>
              </div>
              <!-- Logo carousel -->
          </div>
      </section>
      <!--/Section: Logotypes-->

{% endblock document_container %}