{% extends "includes/base_admin_plant.html" %}


{% block content %}


<!--  Traffic  -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title"> </h4>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-body">

                        {% if form.errors %}
                        <p style="color: red;">
                            Please correct the error{{ form.errors|pluralize }} below.
                        </p>
                        {% endif %}

                        <form action="" enctype="multipart/form-data" method="post">
                            <table>
                                {{ form.as_table }}
                            </table>
                            {% csrf_token %}
                            <input type="submit" value="Submit">
                        </form>

                        <p></p>
                        <hr>
                        

                    </div>
                </div>

            </div> <!-- /.row -->
            <div class="card-body"></div>
        </div>
    </div><!-- /# column -->
</div>
<!--  /Traffic -->


{% endblock content %}


{% block script %}
<script>

</script>

{% endblock script %}