{% extends "includes/base_admin.html" %}

{% block content %}
<!--  Traffic  -->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="box-title">list queries comming soon</h4>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <ul class="list-group">
                  <li class="list-group-item">Queries#1 Get all plants in thailand/li>
                  <li class="list-group-item">Queries#2 Get all...</li>
                  <li class="list-group-item">Queries#3 Get ...</li>
                  <li class="list-group-item">Queries#4 .....</li>
                  <li class="list-group-item">Queries#5 .....</li>
                </ul>
              </div>
              <div class="col-md-9">
                <table class="table">
                  <thead>
                    <tr>
                      <th>family</th>
                      <th>genus</th>
                      <th>species</th>
                      <th>name</th>
                      <th>number</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>axgx</td>
                      <td> jgh </td>
                      <td>jh jh </td>
                      <td>j j </td>
                      <td>nj </td>
                    </tr>
                    <tr>
                      <td>axgx</td>
                      <td> jgh </td>
                      <td>jhh </td>
                      <td>j j </td>
                      <td>nj </td>
                    </tr>
                    <tr>
                      <td>axgx</td>
                      <td> jgh </td>
                      <td>jh jh </td>
                      <td>j j </td>
                      <td>nj </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- /.row -->
      <div class="card-body"></div>
    </div>
  </div><!-- /# column -->
</div>
<!--  /Traffic -->


{% endblock content %}