{% extends "includes/base_admin.html" %}


{% block content %}

    <!--  Content  -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header f-16">
                    <h4 class="box-title"><i class="fas fa-map"></i> Create Site</h4>
                </div>
                <div class="card-body">

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-body f-14">
                            <form method="POST" action="/SmsBackEnd/create_site/">
                                {% csrf_token %}
                                <!-- input -->
                                <div class="row form-group">
                                    <div class="col col-md-1 text-right"><label class=" form-control-label">
                                        Site name: </label></div>
                                    <div class="col-12 col-md-5"><input type="text" id="input_site" name="input_site"
                                                                        class="form-control form-control-sm" required>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-1 text-right"><label class=" form-control-label"> Subsite name
                                        (TH) :</label></div>
                                    <div class="col-12 col-md-5"><input type="text" id="input_site_th"
                                                                        name="input_site_th"
                                                                        class="form-control form-control-sm">
                                    </div>

                                    <div class="col col-md-1 text-right"><label class=" form-control-label">Subsite name
                                        (EN) :</label></div>
                                    <div class="col-12 col-md-5"><input type="text" id="input_site_en"
                                                                        name="input_site_en"
                                                                        class="form-control form-control-sm">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-1 text-right"><label
                                            class=" form-control-label">Province : </label></div>
                                    <div class="col-12 col-md-2"><select name="select_province" id="select_province"
                                                                         class="form-control-sm form-control" required>
                                        <option value="0">Please select</option>
                                        {% for item in province_list %}
                                            <option value="{{ item.id }}">{{ item.name_th }}</option>
                                        {% endfor %}
                                    </select></div>

                                    <div class="col col-md-1 text-right"><label
                                            class=" form-control-label">Amphoe : </label></div>
                                    <div class="col-12 col-md-2"><select name="select_amphure" id="select_amphure"
                                                                         class="form-control-sm form-control" required>

                                    </select></div>

                                    <div class="col col-md-1 text-right"><label
                                            class=" form-control-label">District : </label></div>
                                    <div class="col-12 col-md-2"><select name="select_district" id="select_district"
                                                                         class="form-control-sm form-control" required>


                                    </select></div>


                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-1 text-right"><label
                                            class=" form-control-label">Latitude : </label></div>
                                    <div class="col col-md-2"><input type="text" id="input_latitude"
                                                                     name="input_latitude"
                                                                     class="form-control form-control-sm" required>
                                    </div>
                                    <div class="col col-md-1 text-center"><label class=" form-control-label">NS
                                        :</label>
                                    </div>
                                    <div class="col col-md-1"><select class="form-control-sm form-control" id="input_ns"
                                                                      name="input_ns">
                                        <option value="N">N</option>
                                        <option value="S">S</option>
                                    </select>

                                    </div>

                                </div>
                                <div class="row form-group">

                                    <div class="col col-md-1 text-right"><label
                                            class=" form-control-label">Longitude : </label></div>
                                    <div class="col-12 col-md-2"><input type="text" id="input_longitude"
                                                                        name="input_longitude"
                                                                        class="form-control form-control-sm" required>
                                    </div>
                                    <div class="col col-md-1 text-center"><label class=" form-control-label">EW
                                        : </label>
                                    </div>
                                    <div class="col-12 col-md-1"><select class="form-control-sm form-control"
                                                                         id="input_ew" name="input_ew">
                                        <option value="E">E</option>
                                        <option value="W">W</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-1 text-right"><label
                                            class=" form-control-label">Elevation : </label></div>
                                    <div class="col-12 col-md-2"><input type="text" id="input_elevation"
                                                                        name="input_elevation"
                                                                        class="form-control form-control-sm"></div>
                                    <div class="col col-md-1 text-right"><label
                                            class=" form-control-label">GPSStatus : </label></div>
                                    <div class="col-12 col-md-2"><input type="text" id="input_gps_status"
                                                                        name="input_gps_status"
                                                                        class="form-control form-control-sm"></div>
                                </div>

                                <div class="text-right">
                                    <button class="btn btn-primary btn-sm" type="submit">Create</button>
                                    <button class="btn btn-warning btn-sm" type="reset">Reset</button>
                                    <!-- /input -->
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div> <!-- /.row -->
        <div class="row">
            <div class="col col-md-12">
                <div class="card">
                    <div class="card-body">
                        <table id="tb_site" class="table table-sm table-striped table-bordered ">
                            <thead>
                            <tr>
                                <th class="text-center">Site name</th>
                                <th class="text-center">SubSite name</th>
                                <th class="text-center">Address</th>
                                <th class="text-center">Latitude , Longitude</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in list_site %}
                                <tr>
                                    <td>{{ item.site_name }}</td>
                                    <td>
                                        <h5>{{ item.subsite_name_en }}</h5>
                                    </td>
                                    <td>{{ item.province.name_th }} , {{ item.amphure.name_th }}</td>
                                    <td>{{ item.latitude }} , {{ item.longitude }}</td>
                                    <td class="text-center">
                                        <a href="{% url 'SmsBackEnd:edit_site' item.id %}">
                                            <button class="btn btn-sm btn-info ">Edit</button>
                                        </a>

                                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal"
                                                data-target="#smallmodal{{ item.id }}"><i class="fas fa-trash-alt"></i>
                                        </button>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div><!-- /# column -->
    </div>
    <!--  /Content -->

    {% for item in list_site %}

        <div class="modal fade" id="smallmodal{{ item.id }}" tabindex="-1" role="dialog"
             aria-labelledby="smallmodalLabel"
             style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="smallmodalLabel">Site</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Do you want delete {{ item.site_name }} ?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a href={% url 'SmsBackEnd:del_site' site_id=item.id %}>
                            <button type="button"
                                    class="btn btn-primary">Ok
                            </button>
                        </a>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>

                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock content %}

{% block script %}
    <script>


        jQuery(function () {
            var table = $('#tb_site').DataTable({
                "columnDefs": [
                  
                ],
                "order": [[0, "desc"]]
            });
            $('#select_province').change(function () {
                item = $(this).val()
                type = 'province'
                var sel_amp = document.getElementById('select_amphure');
                var sel_dis = document.getElementById('select_district');
                removeAllOptions(sel_amp, true)
                removeAllOptions(sel_dis, true)

                get_address(type, item)

            })

            $('#select_amphure').change(function () {
                item = $(this).val()
                type = 'amphure'
                var sel = document.getElementById('select_district');
                removeAllOptions(sel, true)

                get_address(type, item)

            })
            $('#btn_del_site').click(function () {
                // alert('ok')
                $.confirm({
                    title: 'Confirm!',
                    content: 'Simple confirm!',
                    buttons: {
                        confirm: function () {
                            $.alert('Confirmed!');
                        },
                        cancel: function () {
                            $.alert('Canceled!');
                        },
                        somethingElse: {
                            text: 'Something else',
                            btnClass: 'btn-blue',
                            keys: ['enter', 'shift'],
                            action: function () {
                                $.alert('Something else?');
                            }
                        }
                    }
                });
            })

        })

        // Ajax form
        function get_address(type, item) {
            var type_adr = type
            $.ajax({
                url: "/SmsBackEnd/get_address/", // the endpoint
                type: "POST",
                data: {type: type_adr, item: item},
                success: function (data) {

                    for (i in data.results) {
                        console.log(data.results[i])
                        if (type_adr == "province") {
                            console.log("data province")
                            $('#select_amphure').append("<option value='" + data.results[i].id + "'>" + data.results[i].name_th + "</option>")
                        } else if (type_adr == "amphure") {
                            console.log("data amphure")
                            $('#select_district').append("<option value='" + data.results[i].id + "'>" + data.results[i].name_th + "</option>")
                        }
                    }
                }
            });
        }

        function removeAllOptions(sel, removeGrp) {
            var len, groups, par;
            if (removeGrp) {

                groups = sel.getElementsByTagName('optgroup');
                len = groups.length;
                for (var i = len; i; i--) {
                    sel.removeChild(groups[i - 1]);
                }

            }

            len = sel.options.length;
            for (var i = len; i; i--) {
                par = sel.options[i - 1].parentNode;
                par.removeChild(sel.options[i - 1]);
            }
        }

    </script>
{% endblock script %}